.navbar{
  height: 50px;
  background-color: #003580;
  display: flex;
  justify-content: center;
  border-bottom:2px solid #febb02;;
}

.navContainer{
  width: 100%;
  max-width: 1024px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  font-weight: 700;
  cursor: pointer;
  font-size: 25px;
}

.navButton{
  margin-left: 20px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  color: #003580;
  font-weight: 500;
  border-radius: 3px;
  transition: 0.5s;

}

.navButton:hover{
  color: #000000;
  font-weight: 500;
}

.username{
  text-transform: capitalize;
}